@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import "custom";


html {
    position: relative;
    min-height: 100%;
    width: 100%;

}

body{
    background-color: $dark;
}

main {
    margin-bottom: 290px;
    height: auto;
}

#navbarSupportedContent li a{
    color: $primary;
}

#navbarSupportedContent li a:hover{
    color: $secondary;
}

footer.footer {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

p {
    font-family: "Merienda", sans-serif;
    font-size: 1rem;
}





.hero-scene {
    position: relative;
    margin-bottom: 15px;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/plats.jpg);
        background-size: cover;
        filter: brightness(0.5);
    }

    * {
        //Positionner les éléments devant le ::before
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.image-card {
    position: relative;
    &:hover {
        .titre-image,
        .action-image-buttons {
            opacity: 1;
        }
        img {
            filter: brightness(0.3);
        }
    }

    img {
        transition: all 0.5s;
    }

    .titre-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.5s;
    }
    .action-image-buttons {        
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.5s;
    }
}

.form-label {
    color: $primary;
}


.allreservations{
    a {
        display: block;
        color: white;
        padding:10px;
    }
}


.menu-items card-body {
    background-color: aqua ;
}



.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.scroll-reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

