<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Si le fichier ou dossier n'existe pas...
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  
  # ...alors renvoie index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
